# Dependencies
/node_modules
/.pnp
.pnp.*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Next.js
/.next/
/out/

# Cache
.cache
.parcel-cache

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Build output
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc
.DS_Store
